@font-face {
font-family: 'Myriad Pro-Cond-YpTZdXQ2';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/4e6bc6dd-b7c1-4694-bb06-6010664f3ee2/myriadpro-cond.woff') format('woff');
}