@font-face {
font-family: 'Helvetica Now Display -gEXeYz13';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/c77c3d48-f183-43d5-9e04-17141d4b6ff3/helveticanowdisplaylight.woff') format('woff');
}