@font-face {
font-family: 'Prelo Slab Black-Norma-HfEZkGb9';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/5f9ca527-5c7e-4325-9588-6ea6bcdafdeb/prelo-slab-black.woff') format('woff');
}