@font-face {
font-family: 'Theinhardt Pan Medium--4RVT7TiE';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/f8386276-0192-498b-9ebe-0e525cc5afc8/theinhardtpan-mediumitalic.woff') format('woff');
}