@font-face {
font-family: 'Prelo Slab Bold-Normal-Xh5QvLxW';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/3d35e9fe-a4af-4209-b891-56330c5471ce/prelo-slab-bold.woff') format('woff');
}