@font-face {
font-family: 'Prelo Slab-Medium-H1mYIoT5';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/af7f4282-fcf6-4ed2-9dbb-69468191cc9a/preloslab-medium.woff') format('woff');
}