@font-face {
font-family: 'PreloSlabW01-Book-Norm-VBVKNH18';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/85208030-71c3-48b1-8fc5-592a15076189/prelo-slab-w01-book.woff') format('woff');
}