@font-face {
font-family: 'Prelo Slab Medium Ital-MNiIWvkN';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/dee26dae-a65e-480a-905a-9ee93eb01975/prelo-slab-medium-italic.woff') format('woff');
}