@font-face {
font-family: 'Myriad Pro-CondIt-GU3AieMK';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/74bfe7a5-10af-4711-bc9f-3aef25a3b751/myriadpro-condit.woff') format('woff');
}