@font-face {
font-family: 'Helvetica Now Text Med-k5IkGVR8';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/fe3f6fc5-8777-415f-bf82-3b1fce1a3ca4/helveticanowtextmedium.woff') format('woff');
}