@font-face {
font-family: 'Myriad Pro-LightCondIt-IqBv8Tm4';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/50ac17c7-a26b-4478-9cdb-0afee9ebccae/myriadpro-lightcondit.woff') format('woff');
}