@font-face {
font-family: 'McKinsey Sans Medium-I-63FFQQOT';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/cfb30fef-efbd-4cd9-a595-0740843d9f51/mckinseysans-mediumitalic.woff') format('woff');
}