@font-face {
font-family: 'Helvetica Neue LT Std--24tr0LRo';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/f1593994-8a46-4a52-84c2-bcf778be6afa/helveticaneueltstd-roman.woff') format('woff');
}