@font-face {
font-family: 'Avenir Next LT Pro-Bol-uIcDwaGV';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/92d9e30d-453f-4c64-aad9-38590a64b52d/avenirnextltpro-bold.woff') format('woff');
}