@font-face {
font-family: 'Helvetica Now Display--6iKBJJI1';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/a2a2708c-42de-4581-a59d-f39c5a9bbf26/helveticanowdisplay.woff') format('woff');
}