@font-face {
font-family: 'Theinhardt Pan Light-N-WI9zSQsD';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/21d9a872-3124-4495-b2d2-fcfab2f50a70/theinhardtpan-light.woff') format('woff');
}