@font-face {
font-family: 'Bower Bold-Normal-IjUkOdL9';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/1bee8141-ce6c-4940-88bf-13a7199cf0b2/bower-bold.woff') format('woff');
}