@font-face {
font-family: 'Myriad Pro-BoldCond-DMVm6x4u';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/b598ea44-c3da-4cf9-943b-b5bae2e0a1f2/myriadpro-boldcond.woff') format('woff');
}