@font-face {
font-family: 'Stone Sans II ITC Pro -I40Fixvq';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/184c7ea5-4228-4aac-b65e-a600428e9520/stonesansiiitcpro-bk.woff') format('woff');
}