@font-face {
font-family: 'Prelo Slab SemiBold It-UkYrhuFT';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/3f420bc2-4ed8-49c1-a0f5-bb097b7ae548/prelo-slab-semibold-italic.woff') format('woff');
}