@font-face {
font-family: 'Stone Sans II ITC Pro -mPlStdSp';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/843c6ff3-7c10-4638-ae15-d55948406cd5/stonesansiiitcpro-mdit.woff') format('woff');
}