@font-face {
font-family: 'Avenir LT Std-Roman-JQBb30HW';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/0a081d11-f8c1-4e74-a7ee-593ce5896b94/avenirltstd-roman.woff') format('woff');
}