@font-face {
font-family: 'Prelo Slab Bold-Normal-ZLl6DWzn';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/7ebeed9f-1dd0-4ede-94d0-d5d870923399/preloslab-bold.woff') format('woff');
}