@font-face {
font-family: 'Open Sans-Bold-6u1ElaB0';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/f97002c4-f893-4b90-a31b-009b132dd04f/opensans-bold.woff') format('woff');
}