@font-face {
font-family: 'Theinhardt Medium-Ital-vdDnfj5s';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/1638387b-3b2a-4e15-a8e5-2e7c0033a2b2/theinhardt-mediumitalic.woff') format('woff');
}