@font-face {
font-family: 'Helvetica Now Text-Bol-5w5Atlve';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/3ae87932-0d37-49c5-bf26-2f687b97454a/helveticanowtextbold.woff') format('woff');
}