@font-face {
font-family: 'Prelo Slab Book Italic-xcO20SXS';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/4f4e1306-d94e-4c20-a170-f9b235aa0d07/prelo-slab-book-italic.woff') format('woff');
}