@font-face {
font-family: 'Theinhardt Pan-Regular-sohePRVv';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/ccd31639-80c4-4b14-91db-aa8148abb0bb/theinhardtpan-regular.woff') format('woff');
}