@font-face {
font-family: 'Theinhardt Pan Light-I-ydHmW4zd';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/5fb12231-20ac-4ff9-960d-a09e126223b8/theinhardtpan-lightitalic.woff') format('woff');
}