@font-face {
font-family: 'Theinhardt-Italic-gVgL82Az';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/c45176e1-c2f6-4ed4-b159-307e75f5dd3b/theinhardt-italic.woff') format('woff');
}