@font-face {
font-family: 'Prelo Slab-Light-OaCx7B8q';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/b47b6e83-9c5d-4066-8717-b8484ec558fe/preloslab-light.woff') format('woff');
}