@font-face {
font-family: 'McKinsey Sans-Regular-eNT1Y2TC';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/0d5c162f-9a6b-44c5-b5fd-22232ad08c3b/mckinseysans-regular.woff') format('woff');
}