@font-face {
font-family: 'Prelo Slab Medium-Norm-hAeEe1m6';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/fbbf8644-a6a5-4631-be1f-a0d157bd9125/prelo-slab-medium.woff') format('woff');
}