@font-face {
font-family: 'Prelo Slab Light-Norma-E20kuTSS';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/70396d8f-e6b3-4539-b62d-86c079632d3f/prelo-slab-light.woff') format('woff');
}