@font-face {
font-family: 'Myriad Pro-LightCond-9KhkdlYV';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/d8ea5e4e-3428-490d-8d69-3bad0da0e91c/myriadpro-lightcond.woff') format('woff');
}