@font-face {
font-family: 'Theinhardt Pan-Italic-31w4g4T2';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/59fdd78e-a27d-4dda-881b-9d3506b60a8e/theinhardtpan-italic.woff') format('woff');
}