@font-face {
font-family: 'Stone Sans II ITC Pro -rkTqy1kz';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/4f15a6c8-8728-4141-a72a-f0be62108e3a/stonesansiiitcpro-bkcnit.woff') format('woff');
}