@font-face {
font-family: 'Theinhardt Light-Norma-AxPRkJpr';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/308e535b-de04-4cc2-b758-fede36b9ce45/theinhardt-light.woff') format('woff');
}