@font-face {
font-family: 'Frutiger Next Pro-Ligh-A5XleAeb';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/224760be-a36f-4bee-a9a0-acd04974781e/frutigernextpro-light.woff') format('woff');
}