@font-face {
font-family: 'McKinsey Sans Medium-N-f9cPRz3F';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/cf8fc5e4-47f2-43dc-a5b0-ad2a400243c8/mckinseysans-medium.woff') format('woff');
}