@font-face {
font-family: 'Theinhardt Medium-Norm-2YcZ2E8f';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/53d06826-3563-47de-91e8-791f5ece1c9d/theinhardt-medium.woff') format('woff');
}