@font-face {
font-family: 'Helvetica Now Display--JI4tLUnu';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/926fb382-dcc2-46b5-b00e-7e980b40ef46/helveticanowdisplaybold.woff') format('woff');
}