@font-face {
font-family: 'McKinsey Sans-Italic-7E18cicF';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/babe722e-cb82-40d2-afa8-cf5a2340688c/mckinseysans-italic.woff') format('woff');
}