@font-face {
font-family: 'Myriad Pro-SemiboldCon-wV9VlmkX';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/62fa1cd1-c06a-4070-913d-ef41fdd7069b/myriadpro-semiboldcond.woff') format('woff');
}