@font-face {
font-family: 'Prelo Slab ExtraLight--uc9vXT9I';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/d047688e-3c3f-4382-beea-97c73b663c4c/prelo-slab-extralight.woff') format('woff');
}