@font-face {
font-family: 'Frutiger Next Pro-Bold-4qrPMaf0';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/9a0422ee-3cb7-451f-9711-861a44d889dc/frutigernextpro-bold.woff') format('woff');
}