@font-face {
font-family: 'Open Sans-Regular-ZXSjLGNq';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/41d7ff82-2dd2-43ad-840f-2be46d95329e/opensans-regular.woff') format('woff');
}