@font-face {
font-family: 'McKinsey Sans Light-It-cy2rPyQT';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/6f8a1cb9-17da-42be-a1dd-e0edf66f04a8/mckinseysans-lightitalic.woff') format('woff');
}