@font-face {
font-family: 'Theinhardt Light-Itali-SRN6RMzx';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/dff4abaf-7fe0-4018-bd81-5bee685a7a7d/theinhardt-lightitalic.woff') format('woff');
}