@font-face {
font-family: 'Prelo Slab Book-Normal-v4hLrvUR';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/2f36e32e-176a-4c98-8464-b083cf619c8c/prelo-slab-book.woff') format('woff');
}