@font-face {
font-family: 'Prelo Slab SemiBold-DS-M7cHsV4P';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/d140630c-5e9c-486e-8f32-ae4c9bc331f1/dstype-preloslab-semibold.woff') format('woff');
}