@font-face {
font-family: 'McKinsey Sans Light-No-VplYhhY4';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/61edbb07-dbea-4fbc-beaa-9418a960a72e/mckinseysans-light.woff') format('woff');
}