@font-face {
font-family: 'Helvetica Neue LT Std--lFur8KHc';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/5957f4fd-a695-4242-886f-d726bf53ec9e/helveticaneueltstd-roman.woff') format('woff');
}