@font-face {
font-family: 'Theinhardt Pan Medium--MwExwR5A';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/c84cc5a8-b1a8-4451-8df7-cfd527bb7c6d/theinhardtpan-medium.woff') format('woff');
}